:root {
    --color-white: #ffffff;
    --color-gray: #dadada;
    --color-blue-light: #3038fc;
    --color-blue-dark: #2700f7;
    --color-pink-light: #faddff;
    --color-pink-dark: #da40ff;
    --color-red-light: #c75c76;
    --color-red-dark: #763b50;
    --color-black-light: #052939;
    --color-black-dark: #0f1823;
}