@import './themes/theme-config.scss';
@import './theme-toggler/index.scss';
@import './global-styles.scss';
@import './header/index.scss';
@import './content/index.scss';
@import './technologies/index.scss';
@import './tech/index.scss';
@import './footer/index.scss';